<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Sistema de Torneos E-Sports</title>
</head>

<body>

<h1>Sistema de Gestión de Torneos E-Sports</h1>

<hr>

<h2>Mantenimientos</h2>

<ul>

    <li>
        <a href="/videojuegos">
            Gestión de Videojuegos
        </a>
    </li>

    <li>
        <a href="/torneos">
            Gestión de Torneos
        </a>
    </li>
	
	<li>
	    <a href="/usuarios">
	        Gestión de Usuarios
	    </a>
	</li>
	
	<li>
	    <a href="/equipos">
	        Gestión de Equipos
	    </a>
	</li>
	
	<li>
	    <a href="/reportes/clasificacion" target="_blank">
	        Reporte de Clasificación (PDF)
	    </a>
	</li>
	
	<li>
	    <a href="/reportes/torneos-inscripciones" target="_blank">
	        Reporte de Torneos por Inscripciones (PDF)
	    </a>
	</li>
	
</ul>

</body>
</html>