<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Iniciar sesión</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="p5-login-wrap">
  <div class="p5-login-card">

    <p class="p5-login-sub">Acceso al sistema</p>
    <h1 class="p5-login-title">TORNEO<span>ESPORTS</span></h1>

    <p th:if="${param.error}" class="p5-error">
        Usuario o contraseña incorrectos.
    </p>

    <p th:if="${param.logout}" class="p5-success">
        Sesión cerrada correctamente.
    </p>

    <form th:action="@{/login}" method="post">

        <div class="p5-field">
            <label>Usuario</label>
            <input type="text" name="username">
        </div>

        <div class="p5-field">
            <label>Contraseña</label>
            <input type="password" name="password">
        </div>

        <button type="submit" class="p5-btn" style="width:100%;">Ingresar</button>

    </form>

  </div>
</div>

</body>
</html>