<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Iniciar sesión</title>
</head>
<body>

<h1>Sistema de Gestión de Torneos de Esports</h1>
<h2>Iniciar sesión</h2>

<p th:if="${param.error}" style="color:red;">
    Usuario o contraseña incorrectos.
</p>

<p th:if="${param.logout}" style="color:green;">
    Sesión cerrada correctamente.
</p>

<form th:action="@{/login}" method="post">

    <p>
        Usuario:
        <input type="text" name="username">
    </p>

    <p>
        Contraseña:
        <input type="password" name="password">
    </p>

    <button type="submit">Ingresar</button>

</form>

</body>
</html>